.grid_pairs
{
    -fx-padding: 10 10 10 10;
}








.button_head_menu {
    -fx-background-color: #86d3e3;
}

.button_head_menu:hover{
    -fx-background-color: #86c5d6;
}

.button_head_menu:pressed{
    -fx-background-color: #537098;
}







.label23{
    -fx-text-fill: #253238;
    -fx-font-size: 25;
    -fx-padding: 0 0 0 10;
}
.label24{
    -fx-text-fill: #253238;
    -fx-font-size: 40;
    -fx-padding: 0 10 0 0;

}


.label_nds{
    -fx-text-fill: #f6911d;
    -fx-font-size: 20;
    -fx-padding: 0 0 0 10;
}
.label_nds1{
    -fx-text-fill: #f6911d;
    -fx-font-size: 20;
    -fx-padding: 0 10 0 10;
}

.label_itogo1{
    -fx-text-fill: #253238;
    -fx-font-size: 25;
    -fx-padding: 0 0 0 10;
}
.label_itogo2{
    -fx-text-fill: #253238;
    -fx-font-size: 25;

    -fx-padding: 0 10 0 10;
}


.scroll-pane {
    -fx-background-color: #86d3e3;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:#86d3e3;
}

.increment-button, .decrement-button {
    -fx-background-color: #86d3e3;
    -fx-border-color: #86d3e3;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #86d3e3;
    -fx-border-color: #86d3e3;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #86d3e3;
    -fx-background-radius: 5em;
}

.scroll-pane > .viewport {
    -fx-background-color: #253238;
}


